<div class="container m-5">
  <div class="mb-2">
    <div class="form-label">Upload Your Pictures</div>
    <div data-controller="dropzone" class="dropzone dz-clickable" data-dropzone-post-id-value=<%= @post.id %>></div>
  </div>
</div>
